.Block {
  display: flex;
  align-items: center;
}
#Resizable{
  border:1px solid black;
  height: 200px;
  width: 200px;
  background-color: aqua;
}
#Draggable{
  background: rgba(1,1,1,0.2);
  /* background: rgba(0,0,0,0); */
/*   border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black; */
  cursor: col-resize;
  height: 150px;
  width: 05px;
}